@model LibreriaMvc.Models.Libro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipolibro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipolibro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editorial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.libroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
