@model IEnumerable<LibreriaMvc.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autor.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipolibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipolibro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.libroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.libroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.libroId })
        </td>
    </tr>
}

</table>
